.fiche-logement {
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
  text-align: left;
  flex-grow: 1;
  background-image: linear-gradient(180deg, #ff6060, #ff6060, #833131);

  h3 {
    padding: 20px;
  }
  a {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    h3 {
      font-weight: 500;
      font-size: 18px;
    }
  }
  .card-image {
    img {
      object-fit: cover;
      width: 100%;
      height: 255px;
      border-radius: 10px 10px 0 0;
    }
  }
}
