.carrousel {
  position: relative;
  border-radius: 25px;
  height: 415px;
  display: flex;
  align-items: center;
  overflow: hidden;
  .carrousel-image img {
    width: 100%;
    border-radius: 25px;
  }

  .carrousel-button {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    cursor: pointer;
    &.prev {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
    img {
      width: 46px;
      height: 80px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.carrousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;

  .indicator {
    color: white;
  }
}

@media (max-width: 768px) {
  .carrousel {
    max-height: 255px;
    .carrousel-image {
      position: relative;
    }
    .carrousel-indicators {
      display: none;
    }
  }
}
