.collapse {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;

  .collapse_header {
    border-radius: 5px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: $pink;
    cursor: pointer;
    max-width: 1024px;
    margin: auto;

    span {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
    img {
      width: 30px;
    }
    .arrow {
      transition: transform 0.3s ease;
    }

    .rotated {
      transform: rotate(180deg);
    }
  }

  .collapse_content {
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: #f6f6f6;
    color: $pink;
    line-height: 1.5;
    max-width: 1024px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .collapse {
    .collapse_header {
      height: 30px;

      span {
        font-size: 13px;
      }
    }
    .collapse_content p {
      font-size: 16px;
    }
  }
}
