.error-container {
  color: $pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  .error404 {
    font-size: 288px;
    font-weight: 700;
    margin-top: 60px;
  }
  .error-and-link {
    .error-message {
      font-weight: 500;
      font-size: 36px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 330px;
      color: $pink;
      text-decoration: underline;
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .error-container {
    .error404 {
      font-size: 96px;
    }
    .error-and-link {
      p {
        width: 260px;
      }
      .error-message {
        font-size: 18px;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
