.header-container {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  .logo {
    padding-right: 50px;
    img {
      width: 100%;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 24px;
    li a {
      color: $pink;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
