section.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/accueil.png);
    background-size: cover;
    background-position: center;
    height: 223px;
    color: white;
    font-size: 36px;
    border-radius: 25px;
    margin: 30px 0 30px 0;
    h1 {
        font-weight:500;
    }
}   

div.gallery {
    background-color: #F6F6F6;
    width: 1240px;
    height: 840px;
    border-radius: 25px;
    margin: 30px 0 30px ;
    img {
        width: 340px;
    }
    .logements {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }}