div.gallery {
  background-color: #f6f6f6;
  max-width: 1240px;
  border-radius: 25px;
  margin: 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 0;
  justify-content: center;
}

@media (max-width: 768px) {
  div.gallery {
    background-color: #ffffff;
    padding: 0;
    margin: 20px 0;
    gap: 20px;
  }
}
