.property-page {
  min-height: 1024px;
  color: $pink;
  text-align: left;
  .top-bloc {
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    .details-div {
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 36px;
        font-weight: 500;
      }
      h4 {
        padding: 10px 0 20px 0;
        font-weight: 500;
        font-size: 18px;
      }
      .tags-div {
        display: flex;
        font-size: 14px;
        .tags {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 25px;
          padding: 0 10px;
          min-width: 115px;
          background-color: $pink;
          border-radius: 50px;
          color: white;
          margin-right: 10px;
        }
      }
    }
    .host-stars-div {
      .host-div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
          width: 80px;
          text-align: end;
          margin-right: 10px;
          font-size: 18px;
          font-weight: 500;
        }
        img {
          border-radius: 50%;
          width: 64px;
        }
      }
      .stars-div {
        display: flex;
        justify-content: center;
        font-size: 26px;
        margin-top: 16px;
        span {
          margin: 5px;
        }
        .span1 {
          color: $pink;
        }

        .span2 {
          color: #e3e3e3;
        }
      }
    }
  }

  .collapse-details {
    display: flex;
    justify-content: space-between;
    .collapse {
      width: 580px;
    }
  }
}

@media (max-width: 768px) {
  .property-page {
    min-height: auto;
    .top-bloc {
      flex-direction: column;
      padding: 0 0 10px 0;
      .details-div {
        padding: 10px 0;
        h1 {
          font-size: 18px;
        }
        h4 {
          font-size: 14px;
          padding: 10px 0;
        }
        .tags-div {
          font-size: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
      .host-stars-div {
        .host-div {
          p {
            font-size: 12px;
            width: 60px;
          }
          img {
            width: 32px;
          }
        }
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .stars-div {
          font-size: 14px;
        }
      }
    }
    .collapse-details {
      flex-direction: column;

      .collapse {
        width: auto;
      }
    }
  }
}
